.App {
  text-align: center;
  padding: 20px;
  background-color: coral;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  
}
.column {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.326);
  padding: 20px;
  margin: 10px;
}
.icon{
  color: black;
}

.textfield{
  border-radius: 10px;
  border-color: white;
  padding: 5px;
  margin: 5px;
}
.submitbutton{
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  border-color: white;
}
.weather-info{
  margin: 10px;
  padding: 10px;
}
.location_button{
  padding: 10px;
  margin: 10px;
}

